<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/84c0960d-1402-49e2-afbb-dfd7233a56c8/resourceGroups/CodeRace/providers/Microsoft.ContainerRegistry/registries/CodeRaceContainerRegistry</ResourceId>
    <ResourceName>CodeRaceContainerRegistry</ResourceName>
    <ResourceGroup>CodeRace</ResourceGroup>
    <Subscription>Developer Subscription - ATH</Subscription>
    <RegistryUrl>https://coderacecontainerregistry.azurecr.io</RegistryUrl>
    <PublishImageTag>pi</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c02e44d5-b7ab-4fe4-9651-5d950140dd0d</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>linux-arm64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>